.button{
  font-family: 'Work Sans', sans-serif;

  padding: .2rem;

  width: 21rem;
  height: 46px;

  font-weight: 600;
  font-size: 1rem;

  cursor: pointer;
  border-radius: 2rem;
  border: none;

  opacity: .7;  
}

.button:hover{
  box-shadow:  0 0 .5rem rgb(95, 93, 93);
  opacity: 1;
  transition: 0.4s;
}
