 .container__cadastro{
  font-family: 'Work Sans';

  margin: 0 auto;
  width: 400px;  
 } 

.logo__cadastro{  
  display: flex;
  justify-content: center;

  padding: 1rem;
  margin: 2rem;
}

.h1__cadastro{
  text-align: center;

  color: rgba(54, 54, 54, 0.904);
  font-size: 1.7rem;
  font-weight: 600;
}

.p__text__cadastro{
  margin: 1rem;
  font-size: .75rem;
  font-weight: 600;
  text-align: center;
  color: rgba(54, 54, 54, 0.904);
}


/* Inputs */
.fieldset__cadastro{
  border: none;
  margin-bottom: 2rem;
}
.input__container__cadastro input{
  width: 100%;

  margin: 5px 0;
  padding: 10px 5px ;

  font-size: .8rem;
  font-weight: 600;
  color: rgba(100, 100, 100, 0.993);
  
  border: none;
  outline: none;  
  border-bottom: 1px solid rgba(235, 237, 242, 0.8);
}

.input__check__cadastro{
  display: flex;
  align-items: center;
}
.input__check__cadastro p {
  margin-left: 5px;
  font-size: .8rem;
}
.input__check__cadastro input{
  cursor: pointer;
}
.input__check__cadastro a{
  text-decoration: none;
  color: rgb(99, 99, 252);
}
.input__check__cadastro a:hover{
  color: blue;
}


/* Buttons */
.button__container__cadastro{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 1rem 0 5rem;
}
.button__cadastro__cadastro{
  margin-bottom: 1rem;

  height: 2.9rem;
  width: 23rem;  
}

.button__cancelar__cadastro{
  background-color: rgb(252, 76, 76);
  color: white; 

  height: 2.9rem;
  width: 23rem;  
}
.button__cancelar__cadastro:hover{
  background-color: rgb(252, 76, 76);
}




/* -------RESPONSIVE -----------  */
@media (max-width: 400px) {  
  .container__cadastro {  
    width: 300px; 
  }
  .logo__homePage{
    margin-top: 20vh;
  }

  .button__cadastro__cadastro{
    width: 16rem;
  }
  .button__cancelar__cadastro{
    width: 16rem;
  }
}
