.container__login{
  font-family: 'Work Sans';

  margin: 0 auto;
  width: 400px;  
 } 

.logo__login{  
  margin: 17vh 0 0;    
  display: flex;
  justify-content: center;
}

.h1__login{
  text-align: center;

  margin: 1.5rem;

  color: rgba(54, 54, 54, 0.904);
  font-size: 1.5rem;
  font-weight: 600;
}


/* Inputs */
.fieldset__login{
  border: none;
  margin-bottom: 1rem;
}
.input__container__login input{
  width: 100%;

  margin: 5px 0;
  padding: 10px 5px;

  font-size: .8rem;
  font-weight: 600;
  color: rgba(100, 100, 100, 0.993);
  
  border: none;
  outline: none;  
  border-bottom: 1px solid rgba(235, 237, 242, 0.8);
}


.input__check__login__container{
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remember__login__container{
  margin: 1rem 0;
  cursor: pointer;
  display: flex;
}

.input__check__login__container p a{
  text-decoration: none;
  color: rgb(28, 42, 230);
  transition: .4s;
}
.input__check__login__container a:hover{
  color: rgb(255, 81, 81);
}

.input__check__login__container p {
  margin-left: 5px;
  font-size: .8rem;
}


/* Buttons */
.button__container__login{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 0 10vh ;
}
.button__cadastro__login{
  margin-bottom: 1rem;

  height: 2.9rem;
  width: 23rem;  
}

.button__cancelar__login{
  background-color: rgb(255, 93, 93);
  color: white;   
  
  height: 2.9rem;
  width: 23rem;  
}
.button__cancelar__login:hover{
  background-color: rgb(252, 76, 76);  
}




/* -------RESPONSIVE -----------  */
@media (max-width: 400px) {  
  .container__login{  
    width: 300px; 
    padding: 30px;
  }
  .input__check__login__container{
    margin: 0;
  }
  .logo__login{  
    margin: 5vh 0 0;    
  }


  .button__container__login{
    margin: 0 auto;
  }
  .button__cadastro__login{
    width: 16rem;
  }
  .button__cancelar__login{
    width: 16rem;
  }
}

