 .container__homePage{
  margin: 0 auto;
  width: 400px;  
  
  display: flex;
  flex-direction: column;  
}

  
.logo__homePage{ 
    margin: 32vh 0 30px;    
    display: flex;
    justify-content: center;
}



/* Button */
.button__container__homePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  margin-bottom: 10rem;
}

.button__cadastro__homePage{
  margin-bottom: 1rem;

  width: 23rem;  
  height: 2.9rem;

  background-color: rgb(252, 76, 76);
  color: white;  
}
.button__login__homePage{
  height: 2.9rem;
  width: 23rem;  
}

.button__cadastro__homePage:hover{
  background-color: rgba(250, 21, 21, 0.829);
} 





/* -------RESPONSIVE -----------  */
@media (max-width: 400px) {  
  .container__homePage {  
    width: 300px; 
  }
  .logo__homePage{
    margin-top: 20vh;
  }

  .button__container__homePage{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .button__cadastro__homePage{
    width: 16rem;
  }
  .button__login__homePage{
    width: 16rem;
  }
}

