.container__homePage{
  margin: 0 auto;
  width: 400px;  
  display: flex;
  flex-wrap: wrap;
}

  
.logo{
  margin: 3rem 0 2rem;
  padding: 17rem 0 3rem;

  display: flex;
  justify-content: center;
  margin: 0 auto;  
}


.button__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-bottom: 15rem;
}


.button__cadastro{
  margin-bottom: 1rem;
  width: 3rem;  
  
  background-color: rgb(252, 76, 76);
  color: white;
  
  opacity: .9;  
}

.button__cadastro:hover{
  background-color: rgba(250, 21, 21, 0.829);
  opacity: 1;
  transition: 0.5s;
}
